{% load static %}

    <div id="Login-Overlay">
        <div class="container">
            <div class="LC-Top">
                <h2>Welcome back</h2>
                <p>We are glad to see you again</p>
            </div>
            <div class="LC-Mid">
                <label>Email</label>
                <input id="Email-lgn" type="email" placeholder="Enter your email">
                <label>Password</label>
                <input id="Pass-lgn" type="password" placeholder="Enter your password">
            </div>
            <div class="LC-Bottom">
                <button id="SignIn-btn">Sign In</button>
                <button id="SignIn-Google"><img src="../static/images/google.png">Sign In with Google</button>
            </div>

            <div class="LC-Bottom2">
                <span class="signup">Don't have an account?
                <span>Sign up</span>
            </div>
        </div>
    </div>


