{% load static %}
{% load socialaccount %}

    <div id="Login-Overlay">
        <div class="container">
            <div class="LC-Top">
                <h2>Welcome back</h2>
                <p>We are glad to see you again</p>
            </div>
            <div class="LC-Mid">
                <label>Username</label>
                <input id="Email-lgn" type="text" placeholder="Enter your username">
                <label>Password</label>
                <input id="Pass-lgn" type="password" placeholder="Enter your password">
                <div id="message-login"></div>
            </div>
            <div class="LC-Bottom">
                <button id="SignIn-btn" type="submit">Sign In
                <div class="loader2"></div>
                </button>
                <button id="SignIn-Google"><img src="../static/images/google.png">Sign In with Google</button>
            </div>

            <div class="LC-Bottom2">
                <span class="signup">Don't have an account?
                <span>Sign up</span>
            </div>
        </div>
    </div>


