{% load static %}

    <div id="SignUp-Overlay">
        <div class="container-SignUp">
            <div class="LC-Top">
                <h2>Create account</h2>
                <p>Let`s get Started!</p>
            </div>
            <div class="LC-Mid">
                <label>First Name</label>
                <input id="Email-lgn" type="text" placeholder="Enter your firstname" required>
                <label>Last Name</label>
                <input id="Pass-lgn" type="password" placeholder="Enter your password" required>
                <label>Email</label>
                <input id="Email-lgn" type="email" placeholder="Enter your email" required>
                <label>Password</label>
                <input id="Pass-lgn" type="password" placeholder="Enter your password" required>
                <label>Confirm Password</label>
                <input id="Pass-lgn" type="password" placeholder="Enter your password" required>
            </div>
            <div class="LC-Bottom">
                <button id="SignIn-btn">Register</button>
                <button id="SignIn-Google"><img src="../static/images/google.png">Sign In with Google</button>
            </div>

            <div class="LC-Bottom2">
                <span class="signup">Don't have an account?
                <span>Sign up</span>
            </div>
        </div>
    </div>


