{% extends "master.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '/admin.css' %}">
    <script type="module" src="{% static 'js/services.js' %}"></script>
{% endblock %}

{% block content%}
{% include "./modal/createService.html" %}
  <div id="root">
       {% include "admin_nav.html" %}  
       <div class="PanelMid">
          <div class="PLM-Top"> 
             <div class="PMLT-Left">
               <h3>Payments</h3>

              </div> 
             <div class="PMLT-Right">
               {% if date %}
               <p>{{ date }}</p> 
               {% endif %}

                <div class="PLM-ImgDiv"><img src="../../static/images/Assignment-Ind-Fill--Streamline-Rounded-Fill---Material-Symbols.png" alt=""></div> 
                <span>Admin</span> 
             </div> 
          </div>

          <div class="PLM-Mid">
                        
          </div>
      </div>
 
  </div>
{% endblock %}
