

<div class="PanelLeft">
      <div class="PL-Top">
            <img src="" alt=""> <h3>JMP Services</h3>
           </div>
           <div class="PL-Mid">
              <ul>
                 <a href="{% url 'adminpanel' %}"><li><div class="PLM-ImgDiv"><img src="../static/images/Dashboard-Circle--Streamline-Core.png" alt=""></div>Dashboard</li></a>
                 <a href="{% url 'adminAccounts' %}"><li><div class="PLM-ImgDiv"><img src="../static/images/User-Multiple-Accounts--Streamline-Plump.png" alt=""></div>Accounts</li></a>
                 <a href="{% url 'adminServices' %}"><li><div class="PLM-ImgDiv"><img src="../static/images/Build-Circle--Streamline-Sharp----Material-Symbols (1).png" alt=""></div>Reservations</li></a>
                 <a href="{% url 'adminServices' %}"><li><div class="PLM-ImgDiv"><img src="../static/images/Build-Circle--Streamline-Sharp----Material-Symbols (1).png" alt=""></div>Services</li></a>
                 <a href="{% url 'adminProjects' %}"><li><div class="PLM-ImgDiv"><img src="../static/images/Slide-Show-Play--Streamline-Sharp.png" alt=""></div>Projects</li></a>
                 <a href="{% url 'adminPayments' %}"><li><div class="PLM-ImgDiv"><img src="../static/images/Bag-Dollar--Streamline-Core-Remix.png" alt=""></div>Payments</li></a>
                 <a href="{% url 'logout' %}"><li><div class="PLM-ImgDiv"><img src="../static/images/Logout-2--Streamline-Sharp-Remix.png" alt=""></div>Logout</li></a>
               </ul>
           </div>
      </div>


