{% extends "master.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '/admin.css' %}">
    <script type="module" src="{% static 'js/projects.js' %}"></script>
{% endblock %}

{% block content%}
{% include "./modal/createProject.html" %}
  <div id="root">
       {% include "admin_nav.html" %}
       <div class="PanelMid">
          <div class="PLM-Top">
             <div class="PMLT-Left">
               <h3>Projects</h3>

              </div>
             <div class="PMLT-Right">
                <div class="PLM-ImgDiv"><img src="../../static/images/Assignment-Ind-Fill--Streamline-Rounded-Fill---Material-Symbols.png" alt=""></div>
                <span>Admin</span>
             </div>
          </div>

          <div class="PLM-Mid">
            <div class="ServicesTopNavP">
              <div class="ServicesTopNav">
                <button id="AddProjectsBtn">Add Projects</button>
              </div>
              <div class="ServicesTopNav2">
                  <span class="TotalServices">Total Projects: </span><span class="TotalServices">&nbsp;</span>
              </div>

            </div>
          </div>
      </div>

  </div>
{% endblock %}
