
{% extends "master.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '/index.css' %}">
    <script type="module" src="{% static 'js/authentication.js' %}"></script>
    <script type="module" src="{% static 'js/modal.js' %}"></script>
{% endblock %}

{% block content%}

{% include "accounts/login.html" %}
{% include "accounts/signup.html" %}
{% include "nav.html" %}
<div id="root">
    <div class="responsive">

        <!------------------------------------------- Sections -------------------------------------------->
        <section id="CoverSection">
            <div class="CS-Messages">
                <h1>Effective Installation Services</h1>
                <p>Discover the Perfection's Power! With Our Superior Electrical Installations, You Can Transform Your Space. Put your trust in our skilled experts to wire your house with ease, guaranteeing efficiency, safety, and good looks. Get in touch with us right now, and together, let's start improving your home or place of business!</p>
            </div>
            <div class="CS-Overlay"></div>
            <img src="https://ik.imagekit.io/to96kinpc/pexels-mart-production-7641361(1).jpg/tr:q-90,tr:w-1980,h-1080" alt="">
        </section>

        <section id="AboutSection">
            <div class="AS-Left">
                <img src="https://ik.imagekit.io/to96kinpc/a-male-electrician-works-in-a-switchboard-with-an-ZLWKBE5.jpg" alt="">
            </div>

            <div class="AS-Right">

                <div class="ASR-Top">
                    <h1>About Us
                    <div class="ASR-Top2">
                        <h1> ━━  ABOUT US</h1>
                    </div>
                    </h1>
                </div>

                <div class="ASR-Center">
                    <h1>Who We Are and What We are Doing</h1>
                    <p> We are group of electrical practioners who has work experience for 8 years in the field of electricity installation. We accept consultation for electrical work, wiring and re-wiring of residential and commercial building, CCTV, FIRE alarm, gate motor, pump control and water pump installation, smart lock home installation</p>
                </div>
                <div class="ASR-Bottom">

                    <div class="ASRB-Container">
                        <div class="ASRBC-Left">
                            <div class="Image-Cont">
                                <img src="../../static/images/Rectangle-Flag--Streamline-Plump.png" alt="">
                            </div>
                        </div>
                        <div class="ASRBC-Right">
                            <div class="ASRBC-Top">
                                <h1>Our Vision</h1>
                            </div>
                            <div class="ASRBC-Bottom">
                                <p>To provide top-quality, safe, and efficient electrical installation services, ensuring customer satisfaction through innovation and reliability.</p>
                            </div>
                        </div>
                    </div>

                    <div class="ASRB-Container">
                        <div class="ASRBC-Left">
                            <div class="Image-Cont">
                                <img src="../../static/images/Flash-1--Streamline-Plump.png" alt="">
                            </div>
                        </div>
                        <div class="ASRBC-Right">
                            <div class="ASRBC-Top">
                                <h1>Our Mission</h1>
                            </div>
                            <div class="ASRBC-Bottom">
                                <p>Committed to using innovative solutions and skilled expertise to ensure every customer is satisfied with our work.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section id="ServiceSection">
            <div class="SS-Top">
                <h1>Services
                    <div class="SS-Top2">
                        <h1> ━━  Services</h1>
                    </div>
                </h1>
            </div>

            <div class="SS-Bottom">

                <div class="SSB-Content">
                    <div class="SSC-Top">
                        <h1>What We Offer</h1>
                    </div>

                    <div class="SSC-Bottom">

                        <div class="SSCB-Container">
                            <div class="SSBC-Top">
                                <img src="../../static/images/Electric-Cord-1--Streamline-Flex.png" alt="">
                            </div>
                            <div class="SSBC-Bottom">
                                <h2>Wiring and Rewiring (Residential/Commercial)</h2>
                                <p>Installing and updating electrical wiring in homes and commercial buildings to ensure safety and compliance with current standards</p>
                                <button>Book Service</button>
                            </div>
                        </div>

                        <div class="SSCB-Container">
                            <div class="SSBC-Top">
                                <img src="../../static/images/Electric-Cord-1--Streamline-Flex.png" alt="">
                            </div>
                            <div class="SSBC-Bottom">
                                <h2>Lighting Fixture Installation</h2>
                                <p>Installing various types of lighting fixtures to enhance the functionality and aesthetics of residential and commercial spaces</p>
                                <button>Book Service</button>
                            </div>
                        </div>

                        <div class="SSCB-Container">
                            <div class="SSBC-Top">
                                <img src="../../static/images/Electric-Cord-1--Streamline-Flex.png" alt="">
                            </div>
                            <div class="SSBC-Bottom">
                                <h2>Switch and Outlet Installation</h2>
                                <p>Installing and replacing switches and outlets to improve electrical access and convenience in any setting</p>
                                <button>Book Service</button>
                            </div>
                        </div>

                        <div class="SSCB-Container">
                            <div class="SSBC-Top">
                                <img src="../../static/images/Electric-Cord-1--Streamline-Flex.png" alt="">
                            </div>
                            <div class="SSBC-Bottom">
                                <h2>Smart Home Lock Installation</h2>
                                <p>Setting up smart locks to enhance home security and provide convenient access control through modern technology</p>
                                <button>Book Service</button>
                            </div>
                        </div>

                        <div class="SSCB-Container">
                            <div class="SSBC-Top">
                                <img src="../../static/images/Electric-Cord-1--Streamline-Flex.png" alt="">
                            </div>
                            <div class="SSBC-Bottom">
                                <h2>CCTV Installation</h2>
                                <p>Installing CCTV systems to provide reliable surveillance and enhance security for homes and businesses</p>
                                <button>Book Service</button>
                            </div>
                        </div>

                        <div class="SSCB-Container">
                            <div class="SSBC-Top">
                                <img src="../../static/images/Electric-Cord-1--Streamline-Flex.png" alt="">
                            </div>
                            <div class="SSBC-Bottom">
                                <h2>Fire Alarm Installation</h2>
                                <p>Installing fire alarm systems to ensure early detection of fire hazards, enhancing safety for occupants</p>
                                <button>Book Service</button>
                            </div>
                        </div>

                        <div class="SSCB-Container">
                            <div class="SSBC-Top">
                                <img src="../../static/images/Electric-Cord-1--Streamline-Flex.png" alt="">
                            </div>
                            <div class="SSBC-Bottom">
                                <h2>Motor Gate Installation</h2>
                                <p>Installing motorized gates to provide secure and convenient access to residential and commercial properties</p>
                                <button>Book Service</button>
                            </div>
                        </div>

                        <div class="SSCB-Container">
                            <div class="SSBC-Top">
                                <img src="../../static/images/Electric-Cord-1--Streamline-Flex.png" alt="">
                            </div>
                            <div class="SSBC-Bottom">
                                <h2>Electrical Consultation</h2>
                                <p>Offering expert advice and planning for electrical projects to ensure optimal design and implementation</p>
                                <button>Book Service</button>
                            </div>
                        </div>

                        <div class="SSCB-Container">
                            <div class="SSBC-Top">
                                <img src="../../static/images/Electric-Cord-1--Streamline-Flex.png" alt="">
                            </div>
                            <div class="SSBC-Bottom">
                                <h2>Water Pump Installation</h2>
                                <p>Installing water pumps to ensure efficient water supply and management for various applications</p>
                                <button>Book Service</button>
                            </div>
                        </div>

                        <div class="SSCB-Container">
                            <div class="SSBC-Top">
                                <img src="../../static/images/Electric-Cord-1--Streamline-Flex.png" alt="">
                            </div>
                            <div class="SSBC-Bottom">
                                <h2>Customized Control Panel Switch</h2>
                                <p>Designing and installing customized control panel switches tailored to specific needs and requirements for better control and automation</p>
                                <button>Book Service</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>


    </div>
</div>
{% endblock %}

