<div class="NavBar">
    <header>
        <div class="HLeft">
            <img src="https://ik.imagekit.io/to96kinpc/F712AC3A-37C9-490F-BE36-B4C8ACC60EB3.png/tr:q-100,tr:w-300,h-200" alt="">
        </div>
        <div class="HRight">
    
            <div class="HR-Content">
                <div class="HR-Info">
                    <div class="HR-Left">
                        <img src="../static/images/mail (1).svg" alt="">
                    </div>
                    <div class="HR-Right">
                        <div class="HRI-Top">
                            <p>jmpelec.inst.srvs@gmail.com</p>
                            <span>Drop us a line</span>
                        </div>
                    </div>
                </div>
    
                <div class="HR-Info">
                    <div class="HR-Left">
                        <img src="../static/images/phone-call (1).svg" alt="">
                    </div>
                    <div class="HR-Right">
                        <div class="HRI-Top">
                            <p>+639859649827 | +639511425906</p>
                            <span>Make a call</span>
                        </div>
                    </div>
                </div>
    
                <div class="HR-Info">
                    <a href="https://www.facebook.com/profile.php?id=61551234218858">
                        <div class="FB-Logo">
                            <img src="../../static/images/Facebook-Circle-Fill--Streamline-Remix-Fill.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
            
        </div>
    </header>
    
    <div class="Overlap">
        <nav>
            <ul>
                <a href="{% url 'home'%}"><li>HOME</li></a>
                <a href="/#AboutSection"><li>ABOUT</li></a>
                <a href="/#ServiceSection"><li>SERVICES</li></a>
                <a href=""><li>PROJECTS</li></a>
                <a href=""><li>CONTACT</li></a>
            </ul>
        </nav>
    
        <div class="social-links">
            <a href="{% url 'signup' %}"><button id="SignUp-btn">Sign Up</button></a>
            <a href="{% url 'login' %}"><button id="Login-btn">Login</button></a>
        </div>
    </div>
</div>

