{% load static %}

<div id="Project-Overlay">
  <div class="containerProject">
    <div class="CS-Top">
      <h3>Add Project</h3>
    </div>
    <form action="{% url 'saveProject' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="CS-Mid">
        <label for="ProjectPhoto">Photo</label>
        <input type="file" name="project_picture" id="ProjectPhoto">
        <label for="ProjectCaption">Caption</label>
        <textarea rows="" cols=""  name="caption" id="ProjectCaption" placeholder="Enter Caption"></textarea>
      </div>
      <div class="CS-Bottom">
        <button id="SubmitCaption" type="submit">Submit 
        </button>
      </div>
    </form>
  </div>
</div>

