{% load static %}
    <div id="message-service">
      <img src="../static/images/Check-Circle-Fill--Streamline-Bootstrap.png" alt="">
      <p id="MS-Message"></p>
    </div>
    <div id="DelService-Overlay">
        <div class="DelcontainerService">
            <div class="DelCS-Top">
              <h3>You are about to delete a service</h3>
              <p>This action is permanent and cannot be undone</p>
            </div>
            <div class="DelCS-Bottom">
              <button class="Del-Service" type="submit">Delete
                <div class="loader4"></div>
              </button>
              <button class="Cancel-Service">Cancel</button>
            </div>
        </div>
    </div>
