{% load static %}
<div id="message-service">
  <img src="../static/images/Check-Circle-Fill--Streamline-Bootstrap.png" alt="">
  <p id="MS-Message"></p>
</div>
<div id="EService-Overlay">
  <div class="EcontainerService">
    <div class="CS-Top">
      <h3>Edit Service</h3>
    </div>
    <div class="CS-Mid">
      <label for="">Service Icon</label>
      <div class="ESIParent">
        <img id="EServiceIcon" src="" alt="">
      </div>
      <input type="file" id="EServiceIconInput">
      <label for="">Service Name</label>
      <input type="" id="EServiceName" placeholder="Enter service name" required>
      <label for="">Service Description</label>
      <input type="" id="EServiceDesc" placeholder="Enter service description" required>
      <label for="">Service Price</label>
      <input type="number" id="EServicePrice" placeholder="Enter service price" required>
    </div>
    <div class="CS-Bottom">
      <button id="ESubmitService" type="submit">Submit
        <div class="loader3"></div>
      </button>
    </div>

  </div>
</div>